################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ParamSets/GHG
/results/StatusQuo/GUI
/results/StatusQuo/LandUseTypePair_SupplyCurvesEU-Nuts2-2020.rar
/results/StatusQuo/GUI.zip
