################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ParamSets/GHG
/Results
/Results.old
/results.old2/Reference/GUI
